<div [ngBusy]="data">
    <div class="box" style="min-height: 200px">
        <div class="box-header">
            <h3 class="box-title">Solicitações de Pagamento</h3>
        </div>
        <div class="box-body">
            <table datatable id="nfs" [dtOptions]="dtOptions[0]" [dtTrigger]="dtTrigger[0]" class="row-border hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>CNPJ</th>
                        <th>Razão Social</th>
                        <th>Diretoria</th>
                        <th>Forma Pagamento</th>
                        <th>Valor Total</th>
                        <th>Status</th>
                        <th>Data Solicitação</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of solicitacoesPagamento" (click)="editar(item)">
                        <td>{{item.id}}</td>
                        <td>{{item.alD_ETL_Fornecedores?.cnpj | cnpj}}</td>
                        <td>{{item.alD_ETL_Fornecedores?.razao_Social}}</td>
                        <td>{{item.diretoria?.descricao}}</td>
                        <td>{{item.forma_Pagamento?.descricao}}</td>
                        <td>{{item.valor_total | currency:'BRL': true}}</td>
                        <td>{{item.fila_Solicitacao_Pagamento?.descricao}}</td>
                        <td>{{item.dt_criacao | date:'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div style="display:block; right: 20px; height: 105px; position: fixed; bottom: 5px;">
    <button type="button" class="btn bg-blue" [routerLink]="['add-solicitacao/carro']" style="border-radius: 50px;">
        <i class="fa fa-plus"></i>
        Carro
    </button>
    <button type="button" class="btn bg-green" [routerLink]="['add-solicitacao/documento']" style="border-radius: 50px;">
        <i class="fa fa-plus"></i>
        Documento
    </button>
    <button type="button" class="btn bg-purple" [routerLink]="['add-solicitacao/transporte']" style="border-radius: 50px;">
        <i class="fa fa-plus"></i>
        Transporte
    </button>
</div>